body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white;
    background-image: url("{% static '/images/exeter3.png' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    background-color: #ABCB3A;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 2px 4px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 15%;
}
.section-two {
    background-image: url(https://img.freepik.com/free-vector/branch-with-leaves_1182-560.jpg); /* Second image */
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.logo {
    width: 80px;
}
.nav-links {
    display: flex;
    gap: 15px;
}
.banner img {
    width: 100%;
    height:auto;
    display: block;
}

.text {
    width: 50%;
    align-self: center;
    align-items: center;
}

.image {
    width: 35%;
    text-align: right;
}
h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: green;
}

.footer {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: #ABCB3A;
}
.opening {
    display: column;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    background-color: white; /* Soft green */
    color: green;
    padding: 20px;
    border-radius: 12px; /* Rounded edges */
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: auto;
    align-items: center;

}
.gap-box {
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Limit max width */
    height: 200px; /* Adjust height */
    background-color: rgba(0, 128, 0, 0.8); /* Green with transparency */
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Adjust position as needed */
    margin: 20px auto; /* Center the box */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}